/* general */
body {
    font-family: "Open Sans", sans-serif;
    color: #444444;
    height: 100%;
}

a { text-decoration: none; }
a:hover { text-decoration: none; opacity: 0.5; }

.h7{ font-size: 12px; }
h1, h2, h3, h4, h5, h6, .h7 {
    font-family: "Raleway", sans-serif;
}

.vertical-center {
    display: flex;
    align-items: center;
}
.dr_ad{ cursor: pointer; }

.hide{ display: none }
.hand{ cursor: pointer; }

.input_empty { border: 0.1em solid #E74C3C; border-radius: 5px }
i.update_alert {
    position: absolute;
    font-size: .8em;
    color: #E74C3C;
    top: -.09em;
    left: -.2em;
    z-index: 10;
    cursor: pointer;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator { display: none; -webkit-appearance: none; }

.input-icon{
    position:relative; display: -webkit-box; display: -ms-flexbox; display: flex;
}
.input-icon i.fat { color: #424242; top: .7em; right: .5em; position: absolute;  z-index: 10; cursor: pointer; }
.input-icon i.thin { color: #424242; top: .7em; right: .7em; position: absolute;  z-index: 10; cursor: pointer; }
.input-icon i.fa-eye-slash { right: .65em; }

/* login system */
#body_login{
    display:flex;
    height: 650px;
    justify-content: center;
    align-items: center;
}
.login-title {
    font-size: 25px;
}
.login-box {
    width: 360px;
    border-radius: .5em;
}
@media (max-width: 576px) {
    .login-box {
        margin-top: .5rem;
        width: 90%;
    }
}
.login-card-body {
    background: #ffffff;
    border-top: 0;
    color: #666;
    padding: 20px;
    border-radius: .5em;
}
.btn-entry:hover{ background-color: transparent; }



/* Checkboxes styles */
.first{
    margin: auto;
    padding-left: 6%;
}
#first { display: none; }
#first + label {
    display: block;
    position: relative;
    padding-left: 35px;
    color: #454545;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
#first + label:before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    border: 3px solid #454545;
    position: absolute;
    left: 0;
    top: 0;
    opacity: .6;
    -webkit-transition: all .3s, border-color .08s;
    transition: all .3s, border-color .08s;
}
#first:checked + label:before {
    width: 10px;
    top: -5px;
    left: 5px;
    border-radius: 0;
    opacity: 1;
    border-top-color: transparent;
    border-left-color: transparent;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}


